.Nav {
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to top, #81b91886 0%, #81b918a2 100%),  url(/src/images/Nav\ image.jpg) ;  
}

.hero {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top, #D4D70077 0%, #AACC0055 50%, #81b9188c 100%),  url(/src/images/Background\ image.jpg) ;  
  background-size: cover;
  height: 89dvh;
  width: auto; 
  z-index: -11111;
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #0c3d1c;
}

.logo {
  margin-top: 0.5rem;
  height: 11dvh;
  width: 5dvw;
  background-size: cover;
  background-image: url(/src/images/UAD_Logo.png);
  border-radius: 50%;
}

.name {
  position: relative;
  height: fit-content;
  width: fit-content;
  margin-left: 5dvw;
  margin-top: 47dvh;
  padding: 1.5rem;
  font-weight: 600;
  font-size: 3.5rem;
  background: linear-gradient(to right, #0b3223ef, #0b3223a6, #045e3be3 );
  border-radius: 5px ;
  color: rgba(163, 255, 163, 0.753);
 
  
}

.hero-text {
  position: relative;
  height: fit-content;
  width: fit-content;
  top: 20dvh;
  left: -0.8rem;
  padding: 0.9rem;
  font-size: 3rem;
  border-radius: 1rem;
  color: #5bb34f;
  background: linear-gradient(to right, #0b3223e5, #0b3223a6, #045e3cb2 );
  margin: 0px;
 
}

.hero-text-Link {
  font-size: 3rem;
  color: rgba(163, 255, 163, 0.753);
  margin: 0px;
  padding: 0px;
}


/* Card section */


.card {
  position: relative;
  background-size: cover;
  width: 350px;
  height: 230px;
  background-color: #0d272b;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #3a3a3a2c;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  margin: 0px;
  padding: 0px;

  aspect-ratio: 2/2;
  object-fit: contain;  
}

.cards-Contianer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 0px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  scroll-snap-type: y mandatory;
  overflow: auto;
  height: 37dvh;
  width: 90dvw;
  background-color: rgba(0, 0, 0, 0);
}



.cards-Contianer::-webkit-scrollbar {
  background-color: #021809;
  border-radius: 5px;
  width: 0.7rem;
}

.cards-Contianer::-webkit-scrollbar-thumb {
  background-color: #9cbda6;
  border-radius: 5px;
}



.card svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  margin: 0px;
  padding: 0px;
  
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 16px rgba(111, 199, 101, 0.432);
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  margin: 0px;
  padding: 0px;
}

.card:hover .card__content {
  transform: rotateX(0deg);
  background-color: #0d272b;
  
}

.card__title {
  margin: 0;
  font-size: 2rem;
  font-weight: 700;
  color: rgb(233, 233, 233);
  text-align: center;
  padding-top: 1rem;
}

.card:hover svg {
  scale: 0;
}

.card__description {
  margin: 10px 0 0;
  font-size: 1rem;
  color: #7ead92;
  line-height: 1.4;
  text-align: center;
  padding-top: 2rem;
  padding: 1rem;
  
}



.ACADEMICMain {
  background-color: #123621;
  margin: 0px;
  padding: 0px;
  height: 100dvh;
  width: auto;
}
.ACADEMIC {
  margin: 0px;
  padding: 0px;
  margin-left: 5dvw;
  padding-top: 1rem;


  
  
}

.Academic-Heading {
  margin-top: 2rem;
  color: #062b20;
  font-weight: 600;
  border-radius: 1rem;
  padding: 1rem;
  font-size: 3rem;
  background: linear-gradient(to right,  #4e9ce67c 0%,#a3c4e27c 40%, #0d2b1900 100% );
  width: fit-content;
  
  
}

.Academic-text {
  height: 5dvh;
  width: 50dvw;
  margin-top: -1rem;
  margin-bottom: 4rem;
  font-weight: 600;
  color: #b8cfe67c;
  padding-left: 1rem;
  
}



/* Faculty Section */


.Faculty {
  height: 180dvh;
  width: auto;
}
.FacultyHeading {
  display: flex;
  justify-content:space-around;
  color: rgb(11, 20, 12);
  
}

.FacultyMainLine {
  position: relative;
  font-size: 3rem;
  font-weight: 600;
  padding-right:5rem;
}


.FacultyMainHeading {
  font-size: 1rem;
  font-weight: 600;
}
.FacultyD1 {
  display: flex;
  align-items: center;
  justify-content:stretch;
  width: 90dvw;
  margin: 0rem;
  padding: 0rem;
 
}

.FacultyD2 {
  display: flex;
  align-items: center;
  justify-content:stretch;
  width: 90dvw;
  margin-top: 2rem;
  padding-left: 5rem;
}

.FacultyImage {
  height: 55dvh; 
  padding: 1rem;
  padding-left: 5rem;
  padding-right: 4rem;
  
  
}

.FacultyImage1 {
  height: 55dvh; 
  background-size: cover;
  border-radius: 1rem;
}

.FacultyDetails {
  background-color: #cbe9d415;
  height: 55dvh; 
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
}

.Faculty__title {
  margin: 0;
  font-size: 2rem;
  font-weight: 700;
  color: rgb(11, 20, 12);
  text-align: center;
  padding-top: 1rem;
}

.Faculty__description {
  margin: 10px 0 0;
  font-size: 1rem;
  color: #19221d;
  line-height: 1.4;
  text-align: center;
  padding-top: 2rem;
  padding: 3rem;
}

/* Counter Section */


.CounterMain {
  height: 50dvh;
  width: auto;
  background-color: #bbb9b94d;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(5, 23, 24);
}

.Counter {
  
  display: inline-block;
  margin: 0 12dvw;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
 
}


















.App {
  text-align: center;
  background-color: #1a1a1a;
  color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedback-container {
  width: 80%;
}

.feedback-container h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #f0f0f0;
  text-align: left;
}

.feedback-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.feedback-card {
  background-color: #333;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.feedback-card p {
  font-size: 1em;
  margin-bottom: 10px;
}

.feedback-card h3 {
  margin-top: 10px;
  font-size: 1.2em;
  text-align: right;
}
