.Nav {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(to right, #58ad57da 0%, #81b9188c 30%, #81b9188c 100%), url('/images/Background.jpg');
  background-repeat: no-repeat;
  height: 11vh;
  width: auto;
}

.hero {
  opacity: 0;
  transform: translateY(-50%  );
  transition: opacity 2s ease-in-out, transform 1s ease-in-out;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top, #D4D70077 0%, #AACC0055 50%, #81b9188c 100%), url('/images/Background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 90dvh;
  width: 100%;
  z-index: -11;
  margin: 0;
  padding: 0;


  
}

.hero.show {
  opacity: 1;
  transform: translateX(0);
}







a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #0c3d1c;
}

.logo {
  margin-top: 0.1rem;
  height: auto;
  width: 5dvw;
  background-size: contain;
  border-radius: 50%;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.name {
  position: relative;
  height: fit-content;
  width: fit-content;
  margin-left: 5dvw;
  margin-top: 55dvh;
  padding: 0.5rem;
  padding-bottom: 1rem;
  font-weight: 600;
  font-size: 3.5rem;
  background: linear-gradient(to right, #0b3223ef, #0b3223a6, #045e3be3);
  border-radius: 5px;
  /* color: rgb(0, 95, 0); */


  
}

.hero-text {
  position: relative;
  height: fit-content;
  width: fit-content;
  top: 20dvh;
  left: -0.8rem;
  padding: 0.9rem;
  font-size: 2.5rem;
  border-radius: 1rem;
  color: #5bb34f;
  background: linear-gradient(to right, #0b3223e5, #0b3223a6, #045e3cb2);
  margin: 0px;
  z-index: -111;
}

.hero-text-Link {
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #0d272b;
  font-weight: 700;
  margin: 0px;
  padding: 0px;
  position: relative;
  -webkit-text-stroke: 0.1rem rgba(163, 255, 163, 0.753); 
}


.hero-text-Link::before {
  content: attr(data-text);
  font-size: 2.5rem;
  font-weight: 700;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: rgba(163, 255, 163, 0.753);
  -webkit-text-stroke: 0.1rem rgb(44, 100, 44);
  border-right: 2px solid rgba(163, 255, 163, 0.753);
  overflow: hidden;
  animation: A-Text 6s linear infinite;
}


@keyframes A-Text {
  0%,10%,100% {
    width: 0%;
  }
  70%,90% {
    width: 100%;
  }
}


/* Card section */

.card {
  position: relative;
  background-size: cover;
  width: 21rem;
  height: 14rem;
  background-color: #35323217;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #4e4c4c31;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  margin: 0px;
  padding: 0px;
  aspect-ratio: 2/2;
  object-fit: contain;
}

.cards-Contianer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 0px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  scroll-snap-type: y mandatory;
  overflow: auto;
  height: 32dvh;
  width: 90dvw;
}

.cards-Contianer::-webkit-scrollbar {
  background-color: #021809;
  border-radius: 5px;
  width: 0.7rem;
}

.cards-Contianer::-webkit-scrollbar-thumb {
  background-color: #9cbda6;
  border-radius: 5px;
}

.card svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  margin: 0px;
  padding: 0px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 16px rgba(111, 199, 101, 0.432);
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f2f2f200;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  margin: 0px;
  padding: 0px;
}

.card:hover .card__content {
  transform: rotateX(0deg);
  background-color: #0d272b;
}

.card__title {
  margin: 0;
  font-size: 2rem;
  font-weight: 700;
  color: rgb(233, 233, 233);
  text-align: center;
  padding-top: 1rem;
}

.card:hover svg {
  scale: 0;
}

.card__description {
  margin: 10px 0 0;
  font-size: 1rem;
  color: #7ead92;
  line-height: 1.4;
  text-align: center;
  padding-top: 2rem;
  padding: 1rem;
}

.ACADEMICMain {
  opacity: 0;
  transform: translateY(10%);
  transition: opacity 1.5s ease-in-out, transform 2s ease-in-out;


  margin: 0px;
  padding: 0px;
  width: auto;
}

.ACADEMIC {
  margin: 0px;
  padding: 0px;
  height: 100dvh;
  padding-top: 1rem;
  background-color: #114e3c;
}

.ACADEMICMain.show {
  opacity: 1;
  transform: translateY(0);
}

.Academic-Heading {
  margin-top: 2rem;
  color: #062b20;
  font-weight: 600;
  border-radius: 1rem;
  padding: 1rem;
  font-size: 3rem;
  background: linear-gradient(to right, #4e9ce67c 0%, #a3c4e27c 40%, #0d2b1900 100%);
  width: fit-content;
  
}

.Academic-text {
  height: 5dvh;
  width: 50dvw;
  margin-top: -1rem;
  margin-bottom: 4rem;
  font-weight: 600;
  color: #b8cfe67c;
  padding-left: 1rem;
}

/* Faculty Section */

.Faculty {
  opacity: 0;
  transform: translateY(10%);
  transition: opacity 1.5s ease-in-out, transform 2s ease-in-out;

  height: 180dvh;
  width: auto;
  background-color: #22577aa9;
  margin: 0px;
}

.Faculty.show {
  opacity: 1;
  transform: translateY(0);
}


.FacultyHeading {
  display: flex;
  justify-content: space-around;
  color: rgb(11, 20, 12);
}

.FacultyMainLine {
  position: relative;
  font-size: 3rem;
  font-weight: 600;
  padding-right: 5rem;
}

.FacultyMainHeading {
  font-size: 1rem;
  font-weight: 600;
}

.FacultyD1 {
  display: flex;
  align-items: center;
  justify-content: stretch;
  width: 90dvw;
  margin: 0rem;
  padding: 0rem;
}

.FacultyD2 {
  display: flex;
  align-items: center;
  justify-content: stretch;
  width: 90dvw;
  margin-top: 2rem;
  padding-left: 5rem;
}

.FacultyImage {
  height: 55dvh;
  padding: 1rem;
  padding-left: 5rem;
  padding-right: 4rem;
}

.FacultyImage1 {
  height: 55dvh;
  background-size: cover;
  border-radius: 1rem;
}

.FacultyDetails {
  background-color: #cbe9d415;
  height: 55dvh;
  width: 40dvw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
}

.Faculty__title {
  margin: 0;
  font-size: 2rem;
  font-weight: 700;
  color: rgb(11, 20, 12);
  text-align: center;
  padding-top: 1rem;
}

.Faculty__description {
  margin: 10px 0 0;
  font-size: 1rem;
  color: #19221d;
  line-height: 1.4;
  text-align: center;
  padding-top: 2rem;
  padding: 3rem;
}

/* Feedback section */

.App {
  opacity: 0;
  transform: translateY(10%);
  transition: opacity 1.5s ease-in-out, transform 2s ease-in-out;

  text-align: center;
  background-color: #35795b; 
   color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App.show {
  opacity: 1;
  transform: translateY(0);
}


.feedback-container {
  width: 80%;
}

.feedback-container h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #f0f0f0;
  text-align: left;
}

.feedback-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.feedback-card {
  background-color: #27292821;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 18px rgba(101, 160, 132, 0.63);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.feedback-card p {
  font-size: 1em;
  margin-bottom: 10px;
}

.feedback-card h3 {
  margin-top: 10px;
  font-size: 1.2em;
  text-align: right;
}

/* Events Section */

.Event {
  opacity: 0;
  transform: translateY(10%);
  transition: opacity 1.5s ease-in-out, transform 2s ease-in-out;


  height: 100dvh;
  width: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 2rem;
  background-color: #61a771;
}

.Event.show {
  opacity: 1;
  transform: translateY(0);
}
.EventHeading {
  width: 100vw;
  font-size: 1rem;
  padding-left: 2rem;
  font-weight: 600;
  color: #1a2723;
}

.card {
  width: 350px;
  height: 200px;
  border-radius: 15px;
  background: rgba(9, 41, 16, 0.342);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.card::before {
  content: "";
  height: 100px;
  width: 100px;
  position: absolute;
  top: -40%;
  left: -20%;
  border-radius: 50%;
  border: 35px solid rgba(255, 255, 255, 0.102);
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
  -webkit-filter: blur(.5rem);
  filter: blur(.2rem);
}

.text {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #1a2723;
  font-weight: 900;
  font-size: 1.1rem;
}

.subtitle {
  font-size: 0.9rem;
  font-weight: 300;
  color: #1a2723;
}

.card:hover::before {
  width: 140px;
  height: 140px;
  top: -30%;
  left: 50%;
  -webkit-filter: blur(0rem);
  filter: blur(0rem);
}

/* Footer Section */

h1 {
  color: #b7ff0059;
  text-decoration: none;
  filter: drop-shadow(5px 4px 0px rgb(0, 0, 0));
}

/* .pg-footer {
  font-family: 'Roboto', sans-serif;
} */

.footer {
  background-color: #142c31c9;
  color: #050000;
}

.footer-wave-svg {
  background-color: transparent;
  display: block;
  height: 30px;
  position: relative;
  top: -1px;
  width: 100%;
}

.footer-wave-path {
  fill: #35795b;
}

.footer-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1230px;
  padding: 40px 15px;
  display: flex;
  flex-wrap: wrap;
}

.footer-content-column {
 
  padding-left: 5rem;
  padding-right: 15px;
  
}

.footer-content-column ul li a {
  color: #9ad692;
  text-decoration: none;
  font-size: 0.8rem;
}

.footer-logo-link {
  display: inline-block;
  font-size: 2rem;
}

.footer-menu {
  margin-top: 30px;
}

.footer-menu-name {
  color: #7a8b49;
  font-size: 1rem;
  font-weight: 900;
  letter-spacing: .1em;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}

.footer-menu-list {
  list-style: none;
  margin-bottom: 0;
  margin-top: 10px;
  padding-left: 0;
}

.footer-menu-list li {
  margin-top: 5px;
}

.footer-call-to-action-description {
  color: #9ad692;
  margin-top: 10px;
  margin-bottom: 20px;
}

.footer-call-to-action-button:hover {
  background-color: #12533a;
  color: #9ad692;
}

.button:last-of-type {
  margin-right: 0;
}

.footer-call-to-action-button {
  background-color: #9ad692;
  border-radius: 21px;
  color: #17521c;
  display: inline-block;
  font-size: 0.7rem;
  font-weight: 900;
  letter-spacing: .1em;
  padding: 12px 30px;
  margin: 0 10px 10px 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color .2s;
  cursor: pointer;
  position: relative;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.274);
}

.footer-call-to-action {
  margin-top: 30px;
}

.footer-call-to-action-title {
  color: #9bb857;
  font-size: 0.8rem;
  font-weight: 900;
  letter-spacing: .1em;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}

.footer-call-to-action-link-wrapper {
  margin-bottom: 0;
  margin-top: 10px;
  color: #dfdf84;
  text-decoration: none;
}

.footer-call-to-action-link-wrapper a {
  color: #9ad692;
  text-decoration: none;
}

.footer-social-links {
  bottom: 0;
  height: 54px;
  position: absolute;
  right: 0;
  width: 236px;
}



.hidden-link-text {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
  top: 50%;
}

.footer-copyright {
  background-color: #142c3142;
  color: #6ca177;
  padding: 15px 30px;
  text-align: center;
}

.footer-copyright-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.footer-copyright-text {
  color: #6ca177;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
}

.footer-copyright-link {
  color: #6ca177;
  text-decoration: none;
}







 
                                        /*Pages CSS*/






/* About Section */


.About {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 1s ease-in-out, transform 1.5s ease-in-out;

  background: linear-gradient(to top, #ccff3356 0%, #ccff33d2 50%, #ccff33a2 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.About.show {
  opacity: 1;
  transform: translateX(0);
}

.AboutHeading {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  padding-top: 2rem;
  
  
}

.AboutDiscription {
  font-size: 1rem;
  height: 50dvh;
  width: 60dvw;
  line-height: 1.5rem;
  
  text-align: center;
  padding: 2rem;
}



/* Admmision Form */
/* General Styles */
.FormMain {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 1s ease-in-out, transform 1.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5rem;
  height: 80dvh;
  width: auto;
}

.FormMain.show {
  opacity: 1;
  transform: translateX(0);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: fit-content;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  background-color: #2928282c;
  color: #0d201a;
  border: 1px solid #333;
  height: 80dvh;
  width: 700px;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  color: #91ff00;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: rgb(12, 71, 22);
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.message, 
.signin {
  font-size: 1rem;
  color: rgba(9, 32, 26, 0.7);
}

.signin {
  text-align: center;
}

.signin a:hover {
  text-decoration: underline rgba(9, 32, 26, 0.7);
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  background-color: #33333315;
  color: #fff;
  padding: 20px 5px 5px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
  width: 100%;
}

.form label .input + span {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.8rem;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 12.5px;
  font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
  color: rgba(9, 32, 26, 0.7);
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

.select1 {
  position: relative;
  background-color: #33333315;
  color: rgba(9, 32, 26, 0.7);
  padding: 20px 5px 5px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
  width: 100%;
}

.select1 option {
  background-color: #5ea88c;
  border-radius: 5px;
  color: rgba(9, 32, 26, 0.7);
  padding: 20px 5px 5px 10px;
  outline: 0;
  border: 1px solid rgba(63, 119, 72, 0.397);
  border-radius: 10px;
  width: 100%;
}

.input {
  font-size: 1rem;
}

.submit {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transition: 0.3s ease;
  background-color: rgba(9, 32, 26, 0.7);
}

.submit:hover {
  background-color: rgba(3, 99, 73, 0.7);
  box-shadow: 0px 0px 5px #374b37;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

.Placeholder {
  font-size: 0.8rem;
  color: rgba(9, 32, 26, 0.7);
  padding: 0rem;
  margin: 0rem;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .FormMain {
    margin: 3rem;
    height: auto;
  }

  .form {
    width: 100%;
    height: auto;
  }

  .title {
    font-size: 1.5rem;
    padding-left: 1rem;
  }
}

@media (max-width: 768px) {
  .FormMain {
    margin: 2rem;
  }

  .form {
    width: 100%;
    padding: 15px;
  }

  .title {
    font-size: 1.2rem;
    padding-left: 0.5rem;
  }

  .flex {
    flex-direction: column;
  }

  .form label .input {
    padding: 15px 5px 5px 10px;
  }

  .select1,
  .select1 option {
    padding: 15px 5px 5px 10px;
  }
}

@media (max-width: 480px) {
  .FormMain {
    margin: 1rem;
  }

  .form {
    width: 100%;
    padding: 25px;
  }

  .title {
    font-size: 1rem;
    padding-left: 0.5rem;
  }

  .form label .input {
    padding: 10px 0px 5px 10px;
  }

  .select1,
  .select1 option {
    padding: 10px 5px 5px 10px;
  }
}


/* Contact section */



.LinkMain  {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 1s ease-in-out, transform 1.5s ease-in-out;

 display: flex;
 align-items: center;
 justify-content: space-around;
}

.LinkMain.show {
  opacity: 1;
  transform: translateX(0);
}



.links {
  height: fit-content; 
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content:center;
  padding-top: 5rem;
  
}

.link {
  margin: 0px;
  padding: 0px;
}

.Map {
  padding-top: 5rem;
}
.LinkHeading{
  font-size: 1rem;
  font-weight: 600;
  color: #070313;
  margin: 2rem;
  margin-right: 5rem;
  
}




/* Scholership Section */




.Scholership {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 1s ease-in-out, transform 1.5s ease-in-out;


  height: 90dvh;
  width: auto;
}

.Scholership.show {
  opacity: 1;
  transform: translateX(0);
}

.Scholership-H {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  padding: 5rem;
}

.Scholership-D {
  font-size: 1rem;
  font-weight: 500;
  padding-left: 3rem;
}



/* Faculties Section */


.ACADEMIC-M {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 1s ease-in-out, transform 1.5s ease-in-out;

  background-color: #021809;
  margin: 0px;
  padding: 0px;
  height: 180dvh;
  width: auto;
  background-color: #114e3c;
  
}

.ACADEMIC-M.show {
  opacity: 1;
  transform: translateX(0);
}


.cards-C {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 0px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  height: fit-content;
  width: 90dvw;
}


/* result section */

.Result {
  height: 50dvh;

  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 1s ease-in-out, transform 1.5s ease-in-out;
}

.Result.show {
  opacity: 1;
  transform: translateX(0);
}

.Result-H {
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
  padding: 2rem;
}

.Result-D {
  font-size: 1rem;
  text-align: center;
} 









                                      /* Responsive Styles */






@media (max-width: 1024px) {
  .Nav {
    flex-direction: column;
    height: 30dvh;
  }
  .logo {
    height: fit-content;
    width: 15dvw;
  }
  .hero {
    height: 68dvh;
    padding: 10px;
    background-size: cover;
  }

  .name {
    top: auto;
    bottom: -25px;
    padding: 0.5rem;
   
  }

  .hero-text {
    font-size: 2rem;
  }

  .hero-text-Link {
    font-size:  2rem;
  }



  .ACADEMIC {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .cards-Contianer {
    flex-direction: column;
    height: 63dvh;
    width: 60dvh;
    padding: 0px;
    
    
  }

  .card {
    width: 18rem;
    height: 11.5rem;
    background-color: transparent;
  }
  

  .Faculty {
    height: 60dvh;;
   }
   .FacultyD1{
     height: 20dvh;
     margin: 0px;
     padding: 0px;
     width: 95dvw;
    
   }
 
   .FacultyD2 {
     height: 20dvh;
     margin: 0px;
     padding: 1.5rem;
     width: 95dvw;
   }
 
   .FacultyImage{
     height: 20dvh;
     width: 60dvw;
   }
 
   .FacultyImage1 {
     padding-top: 3rem;
     width: 60dvw;
     height: 20dvh;
   }
   .FacultyDetails{
     width: 50dvw;
     height: 20dvh;
     padding: 0px;
   }
 
   .Faculty__description{
     width: 20dvh;
     height: 20dvh;
     padding: 0px;
   }
 
   .FacultyImage {
     height: 30dvh;
     width: 40dvh;
     padding: 0.5rem;
     padding-left: 1rem;
     padding-right: 2rem;
   }
 
   .Faculty__title {
     font-size: 1rem;
     margin: 0px;
   }


  .ACADEMICMain,
  .Faculty,
  .CounterMain,
  .App,
  .Event,
  .Scholership,
  .Result {
    height: auto;
    padding: 20px;
  }

  .Academic-Heading,
  .FacultyMainLine,
  .Counter,
  .Scholership-H,
  .Result-H {
    font-size: 2rem;
  }

  .Academic-text,
  .Faculty__description,
  .Counter,
  .Scholership-D,
  .Result-D {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  
  body {
    min-width: 500px;
  }
  .Nav {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
  }

  .logo {
    height: fit-content;
    width: 15dvw;
  }
  .hero {
    height: auto;
    padding: 10px;
  }

  .name {
    font-size: 1.2rem;
    top: auto;
    margin-top: 4rem;
    bottom: -10px;
    padding: 0.5rem;
  }

  .hero-text {
    font-size: 1rem;
    top: 5vh;
  
  }

  .hero-text-Link {
    font-size: 1rem;
  }

  
  .hero-text-Link::before {
    content: attr(data-text);
    font-size: 1rem;
    
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: rgba(51, 100, 51, 0.753);
    -webkit-text-stroke: 0.05rem rgb(6, 48, 6);
    border-right: 2px solid rgba(163, 255, 163, 0.753);
    overflow: hidden;
    animation: A-Text 6s linear infinite;
  }
  


  .ACADEMIC {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .cards-Contianer {
    flex-direction: column;
    height: 63dvh;
    width: 30dvh;
    padding: 0px;
    
    
  }

  .card {
    width: 18rem;
    height: 11.5rem;
    background-color: transparent;
  }
  

  .Faculty {
    height: 60dvh;;
   }
   .FacultyD1{
     height: 20dvh;
     margin: 0px;
     padding: 0px;
     width: 95dvw;
    
   }
 
   .FacultyD2 {
     height: 20dvh;
     margin: 0px;
     padding: 1.5rem;
     width: 95dvw;
   }
 
   .FacultyImage{
     height: 20dvh;
     width: 60dvw;
   }
 
   .FacultyImage1 {
     padding-top: 3rem;
     width: 60dvw;
     height: 20dvh;
   }
   .FacultyDetails{
     width: 50dvw;
     height: 20dvh;
     padding: 0px;
   }
 
   .Faculty__description{
     width: 20dvh;
     height: 20dvh;
     padding: 0px;
   }
 
   .FacultyImage {
     height: 30dvh;
     width: 40dvh;
     padding: 0.5rem;
     padding-left: 1rem;
     padding-right: 2rem;
   }
 
   .Faculty__title {
     font-size: 1rem;
     margin: 0px;
   }

   
  .ACADEMICMain,
  .Faculty,
  .CounterMain,
  .App,
  .Event,
  .Scholership,
  .Result {
    height: auto;
    padding: 10px;
  }

  .Academic-Heading,
  .FacultyMainLine,
  .Counter,
  .Scholership-H,
  .Result-H {
    font-size: 1.5rem;
  }

  .Academic-text,
  .Faculty__description,
  .Counter,
  .Scholership-D,
  .Result-D {
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  
  body {
    min-width: 410px;
  }
  .Nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
  
  }

  .logo {
    height: fit-content;
    width: 15dvw;
  }
  .hero {
    height: 41dvh;
    width: auto;
    padding: 5px;
    font-size: 2rem;
  }

  .hero-text-Link {
    font-size: 0.8rem;
  }

  
  .hero-text-Link::before {
    content: attr(data-text);
    font-size: 0.8rem;
    
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: rgba(51, 100, 51, 0.753);
    -webkit-text-stroke: 0.05rem rgb(6, 48, 6);
    border-right: 2px solid rgba(163, 255, 163, 0.753);
    overflow: hidden;
    animation: A-Text 6s linear infinite;
  }

  .name {
    font-size: 2rem;
    margin-top: 20dvh;
    padding: 0.5rem;
  }

  .hero-text {
    font-size: 1rem;
    top: 2vh;
    padding-left: 1rem;
    padding-right: 0.2rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    width: fit-content;
  }

  .cards-Contianer {
    flex-direction: column;
    height: 63dvh;
    width: 90%;
  }

  .card {
    width: 18rem;
    height: 11.5rem;
    background-color: transparent;
  }
  .ACADEMICMain,
  .CounterMain,
  .App,
  .Event,
  .Scholership,
  .Result {
    height: auto;
    padding: 5px;
  }
  .Faculty {
   height: 60dvh;;
  }
  .FacultyD1{
    height: 20dvh;
    margin: 0px;
    padding: 0px;
    width: 95dvw;
   
  }

  .FacultyD2 {
    height: 20dvh;
    margin: 0px;
    padding: 1.5rem;
    width: 95dvw;
  }

  .FacultyImage{
    height: 20dvh;
    width: 60dvw;
  }

  .FacultyImage1 {
    padding-top: 3rem;
    width: 60dvw;
    height: 20dvh;
  }
  .FacultyDetails{
    width: 50dvw;
    height: 20dvh;
    padding: 0px;
  }

  .Faculty__description{
    width: 20dvh;
    height: 20dvh;
    padding: 0px;
  }

  .FacultyImage {
    height: 30dvh;
    width: 40dvh;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 2rem;
  }

  .Faculty__title {
    font-size: 1rem;
    margin: 0px;
  }

  .text {
    font-size:0.9rem;
}

.feedback-container {
  font-size: 0.6rem;
    
}

.feedback-grid {
  font-size: 1rem;padding-bottom: 1rem;
}

.About {
  margin: 0px;
  padding-bottom: 2rem;
  height: 90dvh;
}

.ACADEMIC-M{
  height: 80dvh;
}
.ACADEMIC {
  height: 72dvh;
}
.cards-C {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 0px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  scroll-snap-type: x mandatory;
  overflow: auto;
  height: 50dvh;
  width: 80dvw; 
  
}

.Map {
  height: 100dvh;
  width: 50dvw;
}

.map {
  height: 20dvh;
  width: 50dvw;
}

.LinkHeading {
  font-size: 0.8rem;
}

.subtitle{
  font-size: 0.8rem;
}

.links {
  height: 100dvh;
  width: 70dvw;
}
  .Academic-Heading,
  .FacultyMainLine,
  .Counter,
  .Scholership-H,
  .Result-H {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }

  .Academic-text,
  .Counter,
  .Scholership-D,
  .Result-D {
    font-size: 0.6rem;
    padding: 2px;
  }
}

