.Nav {
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(to top, #81b91886 0%, #81b918a2 100%),  url(/src/images/Nav\ image.jpg) ;  
}

.hero {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top, #D4D70077 0%, #AACC0055 50%, #81b9188c 100%),  url(/src/images/Background\ image.jpg) ;  
  background-size: cover;
  height: 89dvh;
  width: auto; 
  z-index: -11111;
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #0c3d1c;
}

.logo {
  margin-top: 0.5rem;
  height: 11dvh;
  width: 5dvw;
  background-size: cover;
  background-image: url(/src/images/UAD_Logo.png);
  border-radius: 50%;
}

.name {
  position: relative;
  height: fit-content;
  width: fit-content;
  margin-left: 5dvw;
  margin-top: 47dvh;
  padding: 1.5rem;
  font-weight: 600;
  font-size: 3.5rem;
  background: linear-gradient(to right, #0b3223ef, #0b3223a6, #045e3be3 );
  border-radius: 5px ;
  color: rgba(163, 255, 163, 0.753);
 
  
}

.hero-text {
  position: relative;
  height: fit-content;
  width: fit-content;
  top: 20dvh;
  left: -0.8rem;
  padding: 0.9rem;
  font-size: 3rem;
  border-radius: 1rem;
  color: #5bb34f;
  background: linear-gradient(to right, #0b3223e5, #0b3223a6, #045e3cb2 );
  margin: 0px;
 
}

.hero-text-Link {
  font-size: 3rem;
  color: rgba(163, 255, 163, 0.753);
  margin: 0px;
  padding: 0px;
}


/* Card section */


.card {
  position: relative;
  background-size: cover;
  width: 350px;
  height: 230px;
  background-color: #f8f8f813;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #3a3a3a2c;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  margin: 0px;
  padding: 0px;

  aspect-ratio: 2/2;
  object-fit: contain;  
}

.cards-Contianer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 0px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  scroll-snap-type: y mandatory;
  overflow: auto;
  height: 32dvh;
  width: 90dvw;
  background-color: rgba(0, 0, 0, 0);
}



.cards-Contianer::-webkit-scrollbar {
  background-color: #021809;
  border-radius: 5px;
  width: 0.7rem;
}

.cards-Contianer::-webkit-scrollbar-thumb {
  background-color: #9cbda6;
  border-radius: 5px;
}



.card svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  margin: 0px;
  padding: 0px;
  
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 16px rgba(111, 199, 101, 0.432);
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  margin: 0px;
  padding: 0px;
}

.card:hover .card__content {
  transform: rotateX(0deg);
  background-color: #0d272b;
  
}

.card__title {
  margin: 0;
  font-size: 2rem;
  font-weight: 700;
  color: rgb(233, 233, 233);
  text-align: center;
  padding-top: 1rem;
}

.card:hover svg {
  scale: 0;
}

.card__description {
  margin: 10px 0 0;
  font-size: 1rem;
  color: #7ead92;
  line-height: 1.4;
  text-align: center;
  padding-top: 2rem;
  padding: 1rem;
  
}



.ACADEMICMain {
  
  margin: 0px;
  padding: 0px;
  height: 100dvh;
  width: auto;
  background-color: #21742f;
}
.ACADEMIC {
  margin: 0px;
  padding: 0px;
  margin-left: 5dvw;
  padding-top: 1rem;

}

.Academic-Heading {
  margin-top: 2rem;
  color: #062b20;
  font-weight: 600;
  border-radius: 1rem;
  padding: 1rem;
  font-size: 3rem;
  background: linear-gradient(to right,  #4e9ce67c 0%,#a3c4e27c 40%, #0d2b1900 100% );
  width: fit-content;
  
  
}

.Academic-text {
  height: 5dvh;
  width: 50dvw;
  margin-top: -1rem;
  margin-bottom: 4rem;
  font-weight: 600;
  color: #b8cfe67c;
  padding-left: 1rem;
  
}



/* Faculty Section */


.Faculty {
  height: 180dvh;
  width: auto;
  background-color: #0f6424d7;
}
.FacultyHeading {
  display: flex;
  justify-content:space-around;
  color: rgb(11, 20, 12);
  
}

.FacultyMainLine {
  position: relative;
  font-size: 3rem;
  font-weight: 600;
  padding-right:5rem;
}


.FacultyMainHeading {
  font-size: 1rem;
  font-weight: 600;
}
.FacultyD1 {
  display: flex;
  align-items: center;
  justify-content:stretch;
  width: 90dvw;
  margin: 0rem;
  padding: 0rem;
 
}

.FacultyD2 {
  display: flex;
  align-items: center;
  justify-content:stretch;
  width: 90dvw;
  margin-top: 2rem;
  padding-left: 5rem;
}

.FacultyImage {
  height: 55dvh; 
  padding: 1rem;
  padding-left: 5rem;
  padding-right: 4rem;
  
  
}

.FacultyImage1 {
  height: 55dvh; 
  background-size: cover;
  border-radius: 1rem;
}

.FacultyDetails {
  background-color: #cbe9d415;
  height: 55dvh; 
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
}

.Faculty__title {
  margin: 0;
  font-size: 2rem;
  font-weight: 700;
  color: rgb(11, 20, 12);
  text-align: center;
  padding-top: 1rem;
}

.Faculty__description {
  margin: 10px 0 0;
  font-size: 1rem;
  color: #19221d;
  line-height: 1.4;
  text-align: center;
  padding-top: 2rem;
  padding: 3rem;
}

/* Counter Section */


.CounterMain {
  height: 50dvh;
  width: auto;
  background-color: #bbb9b94d;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(5, 23, 24);
}

.Counter {
  
  display: inline-block;
  margin: 0 12dvw;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
 
}

/* Feedback section */


.App {
  text-align: center;
  background-color: #092b1662;
  color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedback-container {
  width: 80%;
}

.feedback-container h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #f0f0f0;
  text-align: left;
}

.feedback-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.feedback-card {
  background-color: #c3ffcb1c;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.feedback-card p {
  font-size: 1em;
  margin-bottom: 10px;
}

.feedback-card h3 {
  margin-top: 10px;
  font-size: 1.2em;
  text-align: right;
}


/* Events Section */


.Event {
  height: 80dvh;
  width: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 2rem;
  display: flex;
  align-items: center;
  justify-content:flex-end;
  flex-wrap: wrap;
  gap: 2rem;
  background-color: #103b1d;
}

.EventHeading {
  width: 100vw;
  font-size: 1rem;
  padding-left: 2rem;
  font-weight: 600;
  color: #bddbd2;
}

.card {
  width: 350px;
  height: 200px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.075);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.card::before {
  content: "";
  height: 100px;
  width: 100px;
  position: absolute;
  top: -40%;
  left: -20%;
  border-radius: 50%;
  border: 35px solid rgba(255, 255, 255, 0.102);
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
  -webkit-filter: blur(.5rem);
          filter: blur(.5rem);
}

.text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: rgb(255, 255, 255);
  font-weight: 900;
  font-size: 1.1rem;
}

.subtitle {
  font-size: 0.9rem;
  font-weight: 300;
  color: rgba(240, 248, 255, 0.691);
}

.card:hover::before {
  width: 140px;
  height: 140px;
  top: -30%;
  left: 50%;
  -webkit-filter: blur(0rem);
          filter: blur(0rem);
}




/* Footer Section */



h1 {
  color: #b7ff0059;
  text-decoration: none;
  filter: drop-shadow(5px 4px 0px rgb(0, 0, 0));

}
.pg-footer {
  font-family: 'Roboto', sans-serif;
}


.footer {
    background-color: #132e1b;
    color: #ffffff;
   
    
}
.footer-wave-svg {
    background-color: transparent;
    display: block;
    height: 30px;
    position: relative;
    top: -1px;
    width: 100%;
}
.footer-wave-path {
    fill: #b3db69;
    
}

.footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 450px;
      position: relative;
    

}

.footer-content-column {
    box-sizing: border-box;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    color: #fff;
}

.footer-content-column ul li a {
  color: #5bb34f;
  text-decoration: none;
  font-size: 0.8rem;
}

.footer-logo-link {
    display: inline-block;
    font-size: 2rem;
}
.footer-menu {
    margin-top: 30px;
  
}

.footer-menu-name {
    color: #dfdf84;
    font-size: 1rem;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}
.footer-menu-list {
    list-style: none;
    margin-bottom: 0;
    margin-top: 10px;
    padding-left: 0;
    
}
.footer-menu-list li {
    margin-top: 5px;
}

.footer-call-to-action-description {
    color: #5bb34f;
    margin-top: 10px;
    margin-bottom: 20px;
}
.footer-call-to-action-button:hover {
    background-color: #7ba518;
    color: #1f3d1b;
}
.button:last-of-type {
    margin-right: 0;
}
.footer-call-to-action-button {
    background-color: #2bf1072a;
    border-radius: 21px;
    color: #7ba518;
    display: inline-block;
    font-size: 0.7rem;
    font-weight: 900;
    letter-spacing: .1em;
    /* line-height: 18px; */
    padding: 12px 30px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color .2s;
    cursor: pointer;
    position: relative;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.274);
}
.footer-call-to-action {
    margin-top: 30px;
}
.footer-call-to-action-title {
    color: #dfdf84;
    font-size: 0.8rem;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}
.footer-call-to-action-link-wrapper {
    margin-bottom: 0;
    margin-top: 10px;
    color: #dfdf84;
    text-decoration: none;
}
.footer-call-to-action-link-wrapper a {
    color: #7ba518;
    text-decoration: none;
}





.footer-social-links {
    bottom: 0;
    height: 54px;
    position: absolute;
    right: 0;
    width: 236px;
}

.footer-social-amoeba-svg {
    height: 54px;
    left: 0;
    display: block;
    position: absolute;
    top: 0;
    width: 236px;
}

.footer-social-amoeba-path {
    fill: #5bb34f;
}



.footer-social-link {
    display: block;
    padding: 10px;
    position: absolute;
}

.hidden-link-text {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
    top: 50%;
}

.footer-social-icon-svg {
    display: block;
}

.footer-social-icon-path {
    fill: #fffff2;
    transition: fill .2s;
}



.footer-social-link.twitter {
    height: 28px;
    left: 62px;
    top: 3px;
    width: 28px;
}

.footer-social-link.youtube {
    height: 24px;
    left: 123px;
    top: 12px;
    width: 24px;
}

.footer-social-link.github {
    height: 34px;
    left: 172px;
    top: 7px;
    width: 34px;
}

.footer-copyright {
    background-color: #5bb34f;
    color: #051f0a;
    padding: 15px 30px;
  text-align: center;
}

.footer-copyright-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.footer-copyright-text {
  color: #051f0a;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
}

.footer-copyright-link {
    color: #051f0a;
    text-decoration: none;
}



/* Media Query For different screens */
@media (min-width:320px) and (max-width:479px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width:480px) and (max-width:599px)  { /* smartphones, Android phones, landscape iPhone */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width:600px) and (max-width: 800px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */

}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */

}
@media (min-width:1281px) { /* hi-res laptops and desktops */

}




@media (min-width: 760px) {
  .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 450px;
      position: relative;
      
  }

  .footer-wave-svg {
      height: 50px;
  }

  .footer-content-column {
      width: 24.99%;
  }
}
@media (min-width: 568px) {
  /* .footer-content-column {
      width: 49.99%;
  } */
}






                                         /*Pages CSS*/






/* About Section */


.About {
  background: linear-gradient(to top, #ccff3356 0%, #ccff33d2 50%, #ccff33a2 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.AboutHeading {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  padding-top: 2rem;
  color: #0c3d1c;
  
}

.AboutDiscription {
  font-size: 1rem;
  height: 50dvh;
  width: 60dvw;
  line-height: 1.5rem;
  
  text-align: center;
  padding: 2rem;
}



/* Admmision Form */

.FormMain {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5rem;
  height: 80dvh;
  width: auto;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: fit-content;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  background-color: #2e26262c;
  color: #fff;
  border: 1px solid #333;
  height: 80dvh;
  width: 700px;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  color: #91ff00;
}

.title::before {
  width: 18px;
  height: 18px;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #91ff00;
}

.message, 
.signin {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.7);
}

.signin {
  text-align: center;
}

.signin a:hover {
  text-decoration: underline rgb(65, 225, 92);
}

.signin a {
  color: rgb(65, 225, 92);
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  background-color: #33333315;
  color: #fff;
  
  padding: 20px 05px 05px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
  width: fit-content
}

.form label .input + span {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.8rem;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 12.5px;
  font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
  color: rgb(65, 225, 92);
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

.select1 {
  position: relative;
  background-color: #33333315;
  color: rgb(65, 225, 92);
  padding: 20px 05px 05px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
  width: fit-content
}


.select1 option  {
  background-color: #10421c;
  border-radius: 5px;
  color: rgb(65, 225, 92);
  padding: 20px 05px 05px 10px;
  outline: 0;
  border: 1px solid rgba(63, 119, 72, 0.397);
  border-radius: 10px;
  width: fit-content;
}


.input {
  font-size: 1rem;
}

.submit {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: .3s ease;
  background-color: rgb(52, 172, 72);
}

.submit:hover {
  background-color: rgb(50, 211, 77);
  box-shadow: 0px 0px 5px #034203;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

.Placeholder {
  font-size: 0.8rem;
  color: rgb(65, 225, 92);
  padding: 0rem;
  margin: 0rem;
}




/* Contact section */



.LinkMain  {
 display: flex;
 align-items: start;
 justify-content: space-around;
}


.links {
  height: fit-content; 
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content:center;
  padding-top: 5rem;
  
}

.link {
  margin: 0px;
  padding: 0px;
}

.Map {
  padding-top: 5rem;
}
.LinkHeading{
  font-size: 1rem;
  font-weight: 600;
  color: #070313;
  margin: 2rem;
  margin-right: 5rem;
  
}

