  body {
  margin: 0px;
  background: linear-gradient(to top, rgb(15, 75, 50), rgb(7, 112, 30), #103b1d  );
  background-color: rgb(13, 184, 13);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  background-color: #021b16;
  border-radius: 5px;
  width: 0.7rem;
}

::-webkit-scrollbar-thumb {
  background-color: #027525;
  border-radius: 5px;
}

